.elements {
  position: relative;
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 635px) {
  .elements {
    width: 282px;
    margin: 0 auto;
    margin-top: 36px;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 636px) and (max-width: 900px) {
  .elements {
    width: 580px;
    margin: 0 auto;
    margin-top: 36px;
    grid-template-columns: 1fr 1fr;
  }
}
