.popup__submit {
  display: block;
  margin: 32px auto 0;
  width: 358px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 635px) {
  .popup__submit {
    margin-top: 30px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
