.header__logo {
  display: block;
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 635px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin: 0 0 32px 28px;
  }
}

@media screen and (min-width: 636px) and (max-width: 900px) {
  .header__logo {
    margin-left: 32px;
  }
}
