.popup__error {
  display: block;
  width: 358px;
  min-height: 15px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #ff0000;
  visibility: hidden;
}

@media screen and (max-width: 635px) {
  .popup__error {
    width: 238px;
  }
}
