.element__image {
  grid-area: img;
  display: block;
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.element__image:hover {
  box-shadow: 0 -5px 10px 1px rgba(142, 149, 166, 0.7);
  cursor: pointer;
}
