.profile {
  position: relative;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  display: grid;
  grid-template:
    'avatar name edit add' 60px
    'avatar bio . add' 60px / 1fr 323px 4fr 1fr;
  align-items: center;
}

@media screen and (max-width: 635px) {
  .profile {
    width: 282px;
    margin: 0 auto;
    padding-top: 42px;
  }
}

@media screen and (min-width: 636px) and (max-width: 900px) {
  .profile {
    width: 580px;
  }
}

@media screen and (max-width: 900px) {
  .profile {
    grid-template:
      'avatar' 120px
      'name'
      'bio'
      'add' 1fr / 1fr;
  }
}
